[Unit]
Description=Data container
After=docker.service boot.service
Requires=docker.service
Wants=boot.service

[Service]
Restart=on-failure
RestartSec=20
TimeoutStartSec=0

# Preparations for the container:
ExecStartPre=-/usr/local/sbin/runctl-data pre

# Start the container:
ExecStart=/usr/local/sbin/runctl-data start

# Setup the container's network:
ExecStartPost=/usr/local/sbin/runctl-data post

# Stop the container:
ExecStop=/usr/local/sbin/runctl-data stop

[Install]
WantedBy=multi-user.target
